{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "declaration-empty-line-before": null,
    "declaration-property-unit-whitelist": {
      "/.*/": ["rem", "deg", "fr", "ms", "%", "px"]
    },
    "declaration-property-value-blacklist": {
      "/.*/": ["(\\d+[1]+px|[^1]+px)"]
    },
    "value-keyword-case": ["lower", { "ignoreKeywords": ["dummyValue"] }]
  }
}
